@import '../reset';
@import '../mixin';
$standardNum: 75;

.p1 {
  color: red;
  @include pxrem(width, 800);
  @include pxrem(height,60);
  @include pxrem(line-height,60);
  text-align: center;
}

.p2 {
  color: orange;
  @include pxrem(width, 800);
  @include pxrem(height,60);
  @include pxrem(line-height,60);
  text-align: center;
  background: url('../images/icons/magnify.png') left center no-repeat; 
  /*注意： 这里的图片路径，应该是demo.css文件（编译后的文件）相对于图片的路径。*
	js中引用图片，路径是 引用该js文件的html文件相对于图片的路径
	css中引入图片，路径就是 css文件相对于图片的路径
  */
}

.p3 {
	@include pxrem(font-size, 30);
}

.p4 {
	@include font-dpr(30px); /*具体用哪种写法，要看设计图上面的font-size是怎么给的，这里我也有点没太捋清*/
}