<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="HandheldFriendly" content="true" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title></title>
    <link rel="stylesheet" href="../themes/common.css"/>
    <link rel="stylesheet" href="../themes/webLocation.css"/>
    <!--lib-flexible的库用来解决H5页面终端适配的。-->
    <script type="text/javascript" src="../js/fileflex.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Cu2gMKwvBltUntF3DUEZcZ6w"></script>
    <script src="../js/page/common.js"></script>

</head>
<body>
<div class="locationBox">
    <div id="mapPanel"></div>
    <div class="searchContainer">
        <input type="text" class="searchBox" placeholder="搜车牌号"/>
        <div class="searchBtn">
            <img src="../icons/magnify.png" alt="" id="searchBtn"/>
        </div>
        <ul class="autoComplete">
            <li class="list">湘AE6666</li>
            <li class="list">湘AE8888</li>
            <li class="list">湘AE0000</li>
            <li class="list">湘AE1111</li>
            <li class="list">湘AE2222</li>
            <li class="list">湘AE3333</li>
        </ul>
    </div>
</div>
    <ul class="router">
        <li class="router-link activeRouter"></li>
        <li class="router-link"></li>
        <li class="router-link"></li>
    </ul>
    <script type="text/javascript" src="../js/page/webLocation.js"></script>
</body>
</html>