<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="HandheldFriendly" content="true" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>图形化报表</title>
    <link rel="stylesheet" href="../themes/common.css"/>
    <link rel="stylesheet" href="../themes/graphicalReport.css"/>
    <!--lib-flexible的库用来解决H5页面终端适配的。-->
    <script type="text/javascript" src="../js/fileflex.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/echarts.min.js"></script>
    <script src="../js/page/common.js"></script>
    <script type="text/javascript" src="../js/page/graphicalReport.js"></script>
</head>
<body>
<div class="graphicalReport">
    <p class="title">图形化报表</p>

    <ul class="tab clearfix">
        <li class="tab-list activeTab">统计分析</li>
        <li class="tab-list">违章</li>
    </ul>

    <ul class="filterIndicator">
        <!--数据指标-->
        <li class="filter-list">
            <span class="showKey showKey1" key="1">地区汇总</span>
            <img src="../icons/selectIcon.png" alt=""/>
            <ul class="singleList dataIndicator">
                <li key="1">地区汇总</li>
                <li key="2">接入平台汇总</li>
            </ul>
        </li>
        <!--展示纬度-->
        <li class="filter-list">
            <span class="showKey showKey2" key="1">地区</span>
            <img src="../icons/selectIcon.png" alt=""/>
            <ul class="singleList showWay">
                <li key="1">地区</li>
                <li key="2">企业</li>
            </ul>
        </li>
    </ul>
    <div class="echartShow">
        <div id="dataShow"></div>
    </div>

</div>
<ul class="router">
    <li class="router-link"></li>
    <li class="router-link activeRouter"></li>
    <li class="router-link"></li>
</ul>
</body>
</html>