body {
    font: 400 14px '\5FAE\8F6F\96C5\9ED1', Helvetica;
    font-size: .14rem;
    color: #000;
    background-color: #fff;
    -webkit-overflow-scrolling: touch
}

body, div, dl, dt, dd, del, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, a, menu, header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

input, textarea {
    border: 0
}

select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-rtl-ordering: logical
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

fieldset, img {
    vertical-align: top;
    border: 0
}

address, caption, cite, code, dfn, em, th, var {
    font-weight: 400;
    font-style: normal
}

ol, ul, li {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
    font-style: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0
}

header, section, footer {
    display: block;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #000
}

a, img {
    -webkit-touch-callout: none
}

html, body {
    -webkit-user-select: none;
    user-select: none
}

button, input, optgroup, select, textarea {
    -webkit-appearance: none;
    border: none;
    outline: none
}

a, button, input, optgroup, select, textarea {
    -webkit-tap-highlight-color: transparent
}

input::-webkit-input-placeholder {
    color: #ccc
}

body {
    -webkit-text-size-adjust: 100% !important
}

input::-webkit-input-speech-button {
    display: none
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff;
    box-shadow: inset 0 0 0 1000px #fff
}

.login_box_bg {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    animation: move 30s linear 1s infinite;
    -webkit-animation: move 30s linear 1s infinite;
    -moz-animation: move 30s linear 1s infinite;
    -o-animation: move 30s linear 1s infinite
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes move {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both
}

.clearfix {
    zoom: 1
}

.title {
    font-size: .42667rem;
    text-align: center;
    font-weight: bold;
    height: 1.06667rem;
    line-height: 1.06667rem
}

.tab {
    width: 100%;
    height: .58667rem;
    margin-top: .61333rem;
    font-size: .4rem
}

.tab .tab-list {
    width: 50%;
    height: .58667rem;
    line-height: .58667rem;
    float: left;
    text-align: center
}

.activeTab {
    color: #21a0fa
}

.filterIndicator {
    width: 100%;
    height: 1.12rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #e3e3e3;
    margin-top: .34667rem
}

.filterIndicator .filter-list {
    width: 49.99%;
    float: left;
    height: .53333rem;
    line-height: .53333rem;
    margin-top: .29333rem;
    font-size: .37333rem;
    text-align: center;
    position: relative
}

.filterIndicator .filter-list img {
    width: .21333rem;
    height: .13333rem;
    vertical-align: middle
}

.filterIndicator .filter-list .singleList {
    display: none;
    z-index: 100;
    width: 100%;
    position: absolute;
    left: 0;
    top: .82667rem;
    text-align: center;
    border: 1px solid #eee;
    border-top: none;
    background-color: #fff;
}

.filterIndicator .filter-list .singleList li {
    width: 100%;
    height: .66667rem;
    line-height: .66667rem;
    font-size: .34667rem;
    border-bottom: 1px solid #eee;
}

.filterIndicator .filter-list .singleList li:last-child {
    border-bottom: none;
}

.filterIndicator .filter-list.open img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.filterIndicator .filter-list:nth-child(1) {
    border-right: 1px solid #eee
}

.echartShow {
    width: 100%;
    height: auto
}

#dataShow {
    width: 95%;
    height: 12.26667rem;
    margin: .53333rem auto
}

#banShow {
    width: 95%;
    height: 12.26667rem;
    margin: .53333rem auto
}

#banShow #pieShow {
    height: 100%
}


#supervision {
    display: none;
    width: 95%;
    height: 12.26667rem;
    margin: .53333rem auto
}

